@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

@keyframes rotate-hand {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.hour-hand {
  background: linear-gradient(
    to bottom,
    transparent 15%,
    #fff 15%,
    #fff 58%,
    transparent 58%
  );
  transform: rotate(0deg);
  animation: rotate-hand 6s linear infinite;
}

.minute-hand {
  background: linear-gradient(to bottom, #fff 0%, #fff 58%, transparent 58%);
  transform: rotate(0deg);
  animation: rotate-hand 1s linear infinite;
}
