/*Bottom-right*/
.field_0
{
  width: 13.4%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
}

.field_1
{
  width: 8.2%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 12.9%;
}

.field_2
{
  width: 8.2%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 20.8%;
}

.field_3
{
  width: 8.5%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 28.7%;
}

.field_4
{
  width: 8.5%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 36.9%;
}

.field_5
{
  width: 8.2%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 45.2%;
}

.field_6
{
  width: 8.5%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 53.3%;
}

.field_7
{
  width: 12.4%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 61.6%;
}

.field_8
{
  width: 8.24%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 69.9%;
}

.field_9
{
  width: 8.5%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 78.1%;
}

/*Bottom-left*/
.field_10
{
  width: 13.5%;
  float: right;
  position: fixed;
  bottom: 0;
  right: 86.5%;
}

.field_11
{
  width: 8.6%;
  float: right;
  position: fixed;
  bottom: 19.4%;
  right: 89%;
  rotate: 90deg;
}

.field_12
{
  width: 13.5%;
  float: right;
  position: fixed;
  bottom: 38%;
  right: 86.5%;
}

.field_13
{
  width: 8.9%;
  float: right;
  position: fixed;
  bottom: 57%;
  right: 89%;
  rotate: 90deg;
}

/*Top-left*/
.field_14
{
  width: 13.5%;
  float: right;
  position: fixed;
  top: 0;
  right: 86.5%;
}

.field_15
{
  width: 8.5%;
  float: right;
  position: fixed;
  top: 0;
  right: 78.1%;
}

.field_16
{
  width: 8.5%;
  float: right;
  position: fixed;
  top: 0;
  right: 69.9%;
}

.field_17
{
  width: 10.47%;
  float: right;
  position: fixed;
  top: 0;
  right: 60%;
}

.field_18
{
  width: 8.2%;
  float: right;
  position: fixed;
  top: 0;
  right: 54%;
}

.field_19
{
  width: 8.25%;
  float: right;
  position: fixed;
  top: 0;
  right: 46%; 
}

.field_20
{
  width: 8.56%;
  float: right;
  position: fixed;
  top: 0;
  right: 37.5%;
}

.field_21
{
  width: 8.56%;
  float: right;
  position: fixed;
  top: 0;
  right: 29.2%;
}

.field_22
{
  width: 8.56%;
  float: right;
  position: fixed;
  top: 0;
  right: 21.15%;
}

.field_23
{
  width: 8.59%;
  float: right;
  position: fixed;
  top: 0;
  right: 12.85%;
}

/*Top-right*/
.field_24
{
  width: 13.5%;
  float: right;
  position: fixed;
  top: 0;
  right: -0.6%;
}

.field_25
{
  width: 8.2%;
  float: right;
  position: fixed;
  bottom: 57.45%;
  right: 2.3%;
  rotate: -90deg;
}

.field_26
{
  width: 12.9%;
  float: right;
  position: fixed;
  bottom: 38%;
  right: 0;
  rotate: 180deg;
}

.field_27
{
  width: 8.6%;
  float: right;
  position: fixed;
  bottom: 19.4%;
  right: 1.8%;
  rotate: -90deg;
}