@import "tailwindcss";

button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  @apply rounded-2xl w-fit flex flex-col gap-6 p-6;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
}

.popup-content-elza {
  background: linear-gradient(to bottom, white, #bae2fc);
  min-width: 42rem;
}

.popup-content-lucky {
  background-color: #a0ecff;
}

.popup-content-yappel {
  background: linear-gradient(to bottom, #b4ff00, #76a900);
}

.popup-content-phone {
  background-color: black;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-55%);
  }
  100% {
    transform: translateX(0);
    z-index: 10000;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(55%);
  }
  100% {
    transform: translateX(0);
    z-index: 10001;
  }
}

.luckycard-front.animate {
  animation: slide-left 1s ease-in-out forwards;
}

.luckycard-text.animate {
  animation: slide-right 1s ease-in-out forwards;
}

.popup-content-steelroad {
  background-color: white;
  min-width: 55rem;
}

.popup-content-idea {
  background: linear-gradient(to bottom, white, #bae2fc);
  min-width: 45rem;
}

.popup-content-elzaandidea {
  background: linear-gradient(to bottom, #fff092, #ffac7d);
  min-width: 45rem;
}

.popup-content-carshop {
  background: linear-gradient(to bottom, #ffcb7c, #c22133);
  min-width: 45rem;
}

.popup-content-bankrobbery {
  background-color: #21abe3;
}

.popup-content-casino {
  background: linear-gradient(to bottom, #ff7ca8, #c22c21);
  min-width: 45rem;
}

.popup-content-bobthebuilder {
  background: linear-gradient(to bottom, #ffe6aa, #e7a402);
  min-width: 42rem;
}

.popup-content-insurance {
  background: linear-gradient(to bottom, #cbc2ff, #ca47ae);
  min-width: 40rem;
}

.ss-hero-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: 1s hero-disappear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes hero-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.ss-hero {
  position: fixed;
  width: 85%;
  height: 85%;
  max-width: 45rem;
  max-height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 4s hero-animation;
  animation-fill-mode: forwards;
}

.ss-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0px -2px 2px black;
  position: relative;
}

.ss-hero:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: inset 0 0 80px 16px black;
}

@keyframes hero-animation {
  0% {
    opacity: 0;
    scale: 0.6;
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.95;
  }
}

.alert-content {
  @apply rounded-2xl;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  background: white;
  padding: 1rem;

  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 1000000;
  color: black;
}

.alert-content span {
  font-weight: medium;
  font-size: 1.5rem;
  margin: 1rem 2rem;
  text-align: center;
}

.alert-content button {
  @apply rounded-xl;
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

.new-game-button {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  width: calc(100% + 4rem) !important;
}

.board {
  @apply grid gap-1 bg-black p-1 w-full h-full rounded-2xl;
  grid-template-rows: var(--big-size) 1fr var(--big-size) 1fr var(--big-size);
  grid-template-columns: var(--big-size) repeat(9, 1fr) var(--big-size);
}

.board-cell {
  @apply min-w-4 min-h-4 text-black text-sm;
}

.field-grid-bottom {
  @apply text-sm;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13% 45% 42%;
}

.rotated-tile-container {
  @apply relative overflow-hidden;
}

.rotated-tile-left {
  @apply rotate-90 absolute w-[64%] h-[158%] left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2;
}

.rotated-tile-right {
  @apply -rotate-90 absolute w-[64%] h-[158%] left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2;
}
