body
{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0862e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.throwButton
{
  width: 7%;
  height: 5%;
  left: 65%;
  top: 42%;
  position: fixed;
  color: black;
  font-size: 1.6vw;
  border-radius: 7px;
  background-color: white;
}

.nextPlayer
{
  width: 8%;
  height: 5%;
  left: 64.5%;
  top: 50%;
  position: fixed;
  color: black;
  font-size: 1.5vw;
  border-radius: 7px;
  background-color: white;
}

button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.board {
  height: 95%;
  display: block;
  margin: auto;
}

.fields {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

.player {
  position: absolute;
  width: 2.5%;
  transition: left 1s ease, top 1s ease;
}

.field-pic 
{
  position: absolute;
  z-index: 20;
  top: 27%;
  left: 42.5%;
  width: 15%;
}

.field-1
{
  width: 25%;
  left: 37.5%;
}

.field-10
{
  width: 25%;
  left: 37.5%;
}

.field-14
{
  width: 25%;
  left: 37.5%;
}

.field-24
{
  width: 25%;
  left: 37.5%;
}

.field-12
{
  width: 24%;
  rotate: -90deg;
  left: 38%;
}

.field-26
{
  width: 24%;
  rotate: -90deg;
  left: 38%;
}

.playermoney
{
  position: fixed;
  left: 65%;
  top: 30%;
  font-weight: bold;
  font-size: 1.5vw;
}

.cheats
{
  display: none;
  z-index: 30;
  position: fixed;
  background-color: black;
  padding: 30px;  
  border-radius: 10px;
  left: 43%;
  top: 38%;
}

.close
{
  color: gray;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
}

.submit
{
  color: grey;
  margin-left: 33%;
  background-color: black;
}

input
{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sumasang
{
  position: absolute;
  top: 110px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  padding-top: 30px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
}

.popup-wrapper-elza {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-elza {
  position: relative;
  background: linear-gradient(to bottom, white, #bae2fc);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.lucky
{
  position: absolute;
  top: 90px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: lightblue;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
}

.popup-wrapper-lucky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-lucky {
  position: relative;
  background-color: #a0ecff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.luckycard-front
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  background-color: #fff77e;
  max-width: 365px;
  min-width: 365px;
  max-height: 60px;
  min-height: 60px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  border-radius: 15px;
  border: black solid 2px;
  box-shadow: 2px 2px 20px black;
  font-weight: bold;
  z-index: 10001;
}

.luckycard-text
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -205px;
  background-color: #fff77e;
  max-width: 325px;
  min-width: 325px;
  max-height: 60px;
  min-height: 60px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  text-align: center;
  border: black solid 2px;
  box-shadow: 2px 2px 20px black;
  font-weight: bold;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-button
{
  background-color: #a0ecff;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 68%;
  font-size: 17px;
  border: black solid 2px;
  color: black;
  font-weight: bold;
}

.close-lucky
{
  background-color: #a0ecff;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 75%;
  font-size: 17px;
  border: black solid 2px;
  color: black;
  font-weight: bold;
}

@keyframes slide-left {
  0% { transform: translateX(0); }
  50% { transform: translateX(-190px); }
  100% { transform: translateX(0); z-index: 10000; }
}

@keyframes slide-right {
  0% { transform: translateX(0); }
  50% { transform: translateX(190px); }
  100% { transform: translateX(0); z-index: 10001; }
}

.luckycard-front, .luckycard-text {
  transition: z-index 0s 0.5s;
}

.luckycard-front.animate {
  animation: slide-left 1s ease-in-out forwards;
}

.luckycard-text.animate {
  animation: slide-right 1s ease-in-out forwards;
}

.popup-wrapper-steelroad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-steelroad {
  position: relative;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 60%;
}

.steelroad
{
  position: absolute;
  top: 110px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: #c6eef8;
  padding: 10px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  display: flex;
  justify-content: center;
}

.steelroad h2
{
  text-align: center;
}

.steelroad-text
{
  position: absolute;
  left: 10px;
  right: 10px;
  height: 45%;
  background-color: lightblue;
  border-radius: 5px;
  padding: 15px;
  color: black;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steelroad-close
{
  position: absolute;
  background-color: lightblue;
  border: 1.5px solid black;
  width: 20%;
  height: 9%;
  border-radius: 5px;
  font-size: 17px;
  color: black;
  font-weight: bold;
  margin-top: 50%;
}

.delay
{
  position: absolute;
  width: 280px;
  top: 15%;
  left: 50%;
  color: red;
}

.simple
{
  position: absolute;
  width: 140px;
  left: 95px;
  font-weight: bold;
  font-size: 1.2vw;
  top: 10%;
}

.red
{
  position: absolute;
  width: 140px;
  left: 95px;
  font-size: 1.2vw;
  font-style: italic;
  color: red;
  top: 25%;
}

.question
{
  position: absolute;
  margin-top: 15%;
  text-align: center;
  font-weight: bold;
}

.steelroad-yes
{
  position: absolute;
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  left: 29%;
  top: 78%;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.steelroad-no
{
  position: absolute;
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  left: 50%;
  top: 78%;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.steelroad-logo
{
  margin-left: 44%;
  width: 11%;
  margin-top: 10px;
}

.popup-wrapper-idea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-idea {
  position: relative;
  background: linear-gradient(to bottom, white, #bae2fc);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 55%;
} 

.idea
{
  position: fixed;
  z-index: 30;
  background-color: #007cc1;
  padding: 30px;
  color: white;
  border-radius: 5px;
  width: 35%;
  height: 35%;
  left: 30.5%;
  top: 33%;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
}

.idea-logo
{
  margin-left: 8px;
  width: 28%;
  margin-top: 13px;
}

.idea-close
{
  background-color: white;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 65%;
  font-size: 17px;
  color: black;
}

.popup-wrapper-elzaandidea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-elzaandidea {
  position: relative;
  background-color: #fbd914;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.elzaandidea
{
  position: absolute;
  top: 110px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: white;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
}

.eai-title
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 140px;
  margin-right: 140px;
  border-radius: 5px;
  color: white;
}

.eai-close
{
  background-color: #fbd914;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 75%;
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.popup-wrapper-carshop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-carshop {
  position: relative;
  background-color: #c22133;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.carshop
{
  position: fixed;
  z-index: 30;
  background-color: white;
  padding: 30px;
  color: black;
  border-radius: 5px;
  width: 35%;
  height: 55%;
  left: 30.5%;
  top: 22%;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.CarButton
{
  background-color: #c22133;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  top: 74%;
  left: 41%;
  font-size: 17px;
  color: white;
}

.car-title
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 170px;
  margin-right: 170px;
  border-radius: 5px;
  color: white;
}

.carshop-image
{
  position: fixed;
  margin-top: 110px;
}

.carshop-close
{
  background-color: #c22133;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 50%;
  top: 74%;
  font-size: 17px;
  color: white;
}

.popup-wrapper-bankrobbery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-bankrobbery {
  position: relative;
  background-color: #21abe3;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 60%;
}

.bankrobbery {
  position: absolute;
  top: 88px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.b-title
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 140px;
  margin-right: 140px;
  border-radius: 5px;
  color: white;
}

.robbery-question
{
  text-align: center;
  font-size: 1.40vw;
  font-weight: bold;
  margin-top: -100px;
}

.robbery-yes
{
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  position: fixed;
  left: 42.5%;
  top: 55%;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.robbery-no
{
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  position: fixed;
  left: 50.5%;
  top: 55%;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.robbery
{
  margin-top: -20px;
  font-size: 40px;
}

.fail, .success
{
  font-size: 20px;
  margin-top: -15px;
}

.robBtn
{
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  position: fixed;
  margin: auto;
  margin-top: 320px;
  width: 10%;
  height: 4%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.escape
{
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  position: fixed;
  margin: auto;
  margin-top: 150px;
  width: 10%;
  height: 4%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.robbery-close
{
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  position: fixed;
  margin: auto;
  margin-top: 320px;
  width: 7%;
  height: 4%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.popup-wrapper-casino {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-casino {
  position: relative;
  background-color: #c22133;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.casino
{
  position: absolute;
  top: 90px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: white;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
  text-align: center;
}

.game-title
{
  text-align: center;
}

.casino-close
{
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 40%;
  top: 80%;
  font-size: 17px;
  color: white;
}

.game-start
{
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 40%;
  top: 40%;
  font-size: 17px;
  color: white;
}

.hit
{
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 28%;
  top: 60%;
  font-size: 17px;
  color: white;
}

.stand
{
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 50%;
  top: 60%;
  font-size: 17px;
  color: white;
}

.message
{
  text-align: center;
}

.bet
{
  text-align: center;
  right: auto;
  width: 90px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.new-game
{
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 40%;
  top: 65%;
  font-size: 17px;
  color: white;
}

.cards
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.elza
{
  margin-left: 10px;
  width: 28%;
  margin-top: 10px;
}

.sumasang-close
{
  background-color: #a1c900;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 75%;
  font-size: 17px;
}

.lucky-close
{
  background-color: #a1c900;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 75%;
}

button
{
  cursor: pointer;
}

.sumasang p
{
  font-weight: bold;
  font-size: 1.3vw;
  margin-left: 35px;
}

.buyButton
{
  position: absolute;
  left: 84%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  background: linear-gradient(to bottom, lightgrey, grey);
  border: none;
  border-radius: 5px;
}

.player-panel
{
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 30;
  top: 27%;
  left: 16.7%;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 19%;
  height: 44.5%;
  color: white;
  text-align: center;
  border-radius: 10px;
  gap: 0rem;
}

.player-panel-header
{
  display: flex;
  gap: 1rem;
  padding: 0rem 1rem;
  align-items: center;
  background-color: #00000055;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

:has(> .player-panel-puppet)
{
  height: 3rem;
}

.player-panel-puppet
{
  height: 100%;
  object-fit: contain;
}

.player-panel-inventory-container
{
  overflow-y: auto;
  height: 100%;
}

.player-panel-inventory
{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  margin: 0;

}

.player-panel-inventory-container p
{
  margin: 0;
  margin-top: 1rem;
}

.player-panel-inventory-item
{
  border-radius: 10px;
  background-color: #00000055;
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  font-weight: normal;
  font-size: 1.25rem;
}

.player-panel-inventory-item[disabled] {
  opacity: 50%;
}

.player-panel-inventory-item-disabled-icon
{
  width: 2.5rem;
  min-height: 2.5rem;
  color: #fff;
  background-color: #852828;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player-panel-inventory-item-enabled-icon
{
  width: 2.5rem;
  min-height: 2.5rem;
  color: #fff;
  background-color: #288547;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player-panel-inventory-item-name
{
  display: flex;
  align-items: center;
}

ul
{
  list-style-type: none;
  padding: 0;
}

.balance
{
  position: fixed;
  left: 48.8%;
  top: 14%;
  width: 20%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.title
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 170px;
  margin-right: 170px;
  border-radius: 5px;
  color: white;
}
