@import "tailwindcss";

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #0862e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.player {
  position: absolute;
  width: 2.5%;
  transition: left 1s ease, top 1s ease;
}

.playermoney {
  position: fixed;
  left: 65%;
  top: 30%;
  font-weight: bold;
  font-size: 1.5vw;
}

.cheats {
  display: none;
  z-index: 30;
  position: fixed;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  left: 43%;
  top: 38%;
}

.close {
  color: gray;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
}

.submit {
  color: grey;
  margin-left: 33%;
  background-color: black;
}

input {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content-elza {
  @apply rounded-2xl w-fit flex flex-col gap-6 p-6 min-w-[42rem];
  background: linear-gradient(to bottom, white, #bae2fc);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
}

.popup-content-lucky {
  @apply rounded-2xl w-fit flex flex-col gap-6 p-6;
  position: relative;
  background-color: #a0ecff;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
}

.luckycard-front {
  z-index: 10001;
}

.luckycard-text {
  z-index: 10000;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-55%);
  }
  100% {
    transform: translateX(0);
    z-index: 10000;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(55%);
  }
  100% {
    transform: translateX(0);
    z-index: 10001;
  }
}

.luckycard-front,
.luckycard-text {
  transition: z-index 0s 0.5s;
}

.luckycard-front.animate {
  animation: slide-left 1s ease-in-out forwards;
}

.luckycard-text.animate {
  animation: slide-right 1s ease-in-out forwards;
}

.popup-content-steelroad {
  position: relative;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 60%;
}

.steelroad {
  position: absolute;
  top: 110px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: #c6eef8;
  padding: 10px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  display: flex;
  justify-content: center;
}

.steelroad h2 {
  text-align: center;
}

.steelroad-text {
  position: absolute;
  left: 10px;
  right: 10px;
  height: 45%;
  background-color: lightblue;
  border-radius: 5px;
  padding: 15px;
  color: black;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steelroad-close {
  position: absolute;
  background-color: lightblue;
  border: 1.5px solid black;
  width: 20%;
  height: 9%;
  border-radius: 5px;
  font-size: 17px;
  color: black;
  font-weight: bold;
  margin-top: 50%;
}

.delay {
  position: absolute;
  width: 280px;
  top: 15%;
  left: 50%;
  color: red;
}

.simple {
  position: absolute;
  width: 140px;
  left: 95px;
  font-weight: bold;
  font-size: 1.2vw;
  top: 10%;
}

.red {
  position: absolute;
  width: 140px;
  left: 95px;
  font-size: 1.2vw;
  font-style: italic;
  color: red;
  top: 25%;
}

.question {
  position: absolute;
  margin-top: 15%;
  text-align: center;
  font-weight: bold;
}

.steelroad-yes {
  position: absolute;
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  left: 29%;
  top: 78%;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.steelroad-no {
  position: absolute;
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  left: 50%;
  top: 78%;
  width: 20%;
  height: 15%;
  border-radius: 5px;
  background-color: #c6eef8;
  font-size: 17px;
}

.steelroad-logo {
  margin-left: 44%;
  width: 11%;
  margin-top: 10px;
}

.popup-content-idea {
  position: relative;
  background: linear-gradient(to bottom, white, #bae2fc);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 55%;
}

.idea {
  position: fixed;
  z-index: 30;
  background-color: #007cc1;
  padding: 30px;
  color: white;
  border-radius: 5px;
  width: 35%;
  height: 35%;
  left: 30.5%;
  top: 33%;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
}

.idea-logo {
  margin-left: 8px;
  width: 28%;
  margin-top: 13px;
}

.idea-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.idea-balance {
  margin-top: 1rem;
  margin-right: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.idea-close {
  background-color: white;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 65%;
  font-size: 17px;
  color: black;
}

.popup-content-elzaandidea {
  @apply rounded-2xl w-fit flex flex-col gap-6 p-6 min-w-[45rem];
  background: linear-gradient(to bottom, #fff092, #ffac7d);
  z-index: 10000;
  color: black;
}

.popup-content-carshop {
  position: relative;
  background-color: #c22133;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.carshop {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: white;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.CarButton {
  background-color: #c22133;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  top: 74%;
  left: 41%;
  font-size: 17px;
  color: white;
}

.car-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.car-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  flex: 1;
  padding: 0 0.5rem;
}

.car-balance {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0 0.5rem;
}

.carshop-image {
  position: fixed;
  margin-top: 110px;
}

.carshop-close {
  background-color: #c22133;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 50%;
  top: 74%;
  font-size: 17px;
  color: white;
}

.popup-content-bankrobbery {
  @apply rounded-2xl w-fit flex flex-col gap-6 p-6;
  position: relative;
  background-color: #21abe3;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
}

.popup-content-casino {
  position: relative;
  background-color: #c22133;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 40%;
  height: 75%;
}

.casino {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: white;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
  text-align: center;
}

.casino-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.casino-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0 0.5rem;
}

.casino-balance {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  flex: 1;
  padding: 0 0.5rem;
}

.game-title {
  text-align: center;
}

.casino-close {
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 40%;
  top: 80%;
  font-size: 17px;
  color: white;
}

.game-start {
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 40%;
  top: 40%;
  font-size: 17px;
  color: white;
}

.hit {
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 28%;
  top: 60%;
  font-size: 17px;
  color: white;
}

.stand {
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 50%;
  top: 60%;
  font-size: 17px;
  color: white;
}

.message {
  text-align: center;
}

.bet {
  text-align: center;
  right: auto;
  width: 90px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-game {
  background-color: #c22133;
  width: 20%;
  height: 8%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: absolute;
  left: 40%;
  top: 65%;
  font-size: 17px;
  color: white;
}

.cards {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.popup-content-bobthebuilder {
  @apply rounded-2xl w-fit flex flex-col gap-6 p-6 min-w-[42rem];
  position: relative;
  background: linear-gradient(to bottom, #ffe6aa, #e7a402);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
}

.price {
  position: absolute;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin-bottom: 160px;
}

.popup-content-insurance {
  position: relative;
  background-color: #7a70b2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  color: black;
  width: 30%;
  height: 55%;
  top: -6px;
}

.insurance {
  position: absolute;
  top: 140px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 30;
  background-color: white;
  padding: 30px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 20px black;
  font-weight: bold;
  text-align: center;
}

.ins-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.ins-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0 0.5rem;
}

.ins-balance {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  flex: 1;
  padding: 0 0.5rem;
}

.insBuyButton,
.ins-close {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #7a70b2;
  box-shadow: 0 4px 20px #6a4c91;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.lucky-close {
  background-color: #a1c900;
  width: 8%;
  height: 5%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  position: fixed;
  left: 46%;
  top: 75%;
}

button {
  cursor: pointer;
}

.sumasang p {
  font-weight: bold;
  font-size: 1.3vw;
  margin-left: 35px;
}

.balance {
  position: fixed;
  left: 48.8%;
  top: 14%;
  width: 20%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 170px;
  margin-right: 170px;
  border-radius: 5px;
  color: white;
}

.ss-hero-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: 1s hero-disappear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes hero-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.ss-hero {
  position: fixed;
  width: 85%;
  height: 85%;
  max-width: 45rem;
  max-height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 4s hero-animation;
  animation-fill-mode: forwards;
}

.ss-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0px -2px 2px black;
  position: relative;
}

.ss-hero:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: inset 0 0 80px 16px black;
}

@keyframes hero-animation {
  0% {
    opacity: 0;
    scale: 0.6;
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.95;
  }
}

.alert-content {
  @apply rounded-2xl;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  background: white;
  padding: 1rem;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 1000000;
  color: black;
}

.alert-content span {
  font-weight: medium;
  font-size: 1.5rem;
  margin: 1rem 2rem;
  text-align: center;
}

.alert-content button {
  @apply rounded-xl;
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

.new-game-button {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: -1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  width: calc(100% + 4rem) !important;
}

.board {
  @apply grid gap-1 bg-black p-1 w-full h-full rounded-2xl;
  /* --big-size: 13.5rem; */
  grid-template-rows: var(--big-size) 1fr var(--big-size) 1fr var(--big-size);
  grid-template-columns: var(--big-size) repeat(9, 1fr) var(--big-size);
}

.board-cell {
  @apply min-w-4 min-h-4 text-black text-sm;
}

.field-grid-bottom {
  @apply text-sm;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 13% 45% 42%;
}

.rotated-tile-container {
  @apply relative overflow-hidden;
}

.rotated-tile-left {
  @apply rotate-90 absolute w-[64%] h-[158%] left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2;
}

.rotated-tile-right {
  @apply -rotate-90 absolute w-[64%] h-[158%] left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2;
}
